{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Entre com sua conta de login.</h2>
{% endblock header %}


{% block content %}


    <form action="{% url 'login' %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Entrar</button>
        {% endbuttons %}
        <!-- Para qual pagina nos vamos caso o usuario faça a autentificação
        o input do tipo hidden é oculto ele não apareço na pagina, o value é o endereço para onde nos vamos -->
        <input type="hidden" name="next" value= "{% url 'index' %}"/>
    </form>


{% endblock content %}
